openapi: 3.1.0

info:
  title: MoonUP Seller API
  version: "1.0.0"
  summary: List and manage your offers from your own tools.
  description: |
    Everything a seller's bot needs to keep a catalogue of listings up to date:
    create a listing, restock it, unpublish it, archive it.

    Each category has its own paths — `/v1/offers/accounts`,
    `/v1/offers/currency` and so on — with its own fields. You integrate with
    the categories you sell in, and a category added to the platform later
    leaves yours untouched.

    This is the public surface. The cabinet's own screens — payouts, disputes,
    account settings — are not part of it and an API key does not reach them.

    ## Authentication

    Create a key in the cabinet under **Seller → API keys**. It is shown once.
    Send it on every request:

    ```
    Authorization: Bearer moonup_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    ```

    There is nothing to exchange it for — no short-lived token sits in between.
    HTTPS only. Keep the key in an environment variable or your CI's secret
    store, never in a repository.

    A key may be pinned to a list of addresses when you create it (up to 16
    addresses or subnets). An empty list means any address.

    ## Creating a listing

    Categories do not sell the same thing, so they do not ask for the same
    fields, and each one's create call takes only its own. An accounts listing
    has a price and a picture; a currency listing has a product, a price per
    unit and a stock, and no picture at all; a gift card is a code, so it has
    no manual handover time to promise.

    What every category does share is `attributes` — its own field list, which
    varies by game and is versioned. That one you read at runtime:

        GET /v1/offers/games/{game}/categories/{category_slug}/schema

    A full pass looks like this:

    1. `GET /v1/offers/games` — pick a game, keep its `slug`.
    2. `GET /v1/offers/games/{game}/categories` — pick a category.
    3. `GET /v1/offers/games/{game}/categories/{category_slug}/schema` — read
       `attributes`.
    4. `POST /v1/offers/images` with the picture as the body. Repeat per
       picture, collect the `image_url`s. Skip it for a category with no
       gallery.
    5. `POST /v1/offers/{category}` — the listing is created as a `draft`.
    6. `POST /v1/offers/{category}/{id}/publish` — it goes on the marketplace.

    ## Statuses

    A new listing is a `draft`: yours, and nobody else's to see. `publish`
    makes it `active`, and buyers can buy it from that moment — nothing reviews
    it first. Editing changes nothing about where a listing stands: an `active`
    one stays live, a `draft` stays a draft.

    `unpublish` takes an `active` listing back to `draft`. `archived` is the end of
    the line: `DELETE` retires a listing for good and keeps it readable to you.
    `sold` follows orders, not calls: the last unit went to a closed order. A
    listing whose stock is all in open orders stays `active`, and a cancelled
    order puts the stock back. A listing moderation removes for breaking the
    rules is deleted outright: every call on it answers `404`.

    ## Rate limits

    | | Budget |
    |---|---|
    | Reads | 500 requests per minute |
    | Writes | 250 requests per minute |
    | Writes to one offer | 5 per minute and 10 per hour |

    Going over answers `429`. It is temporary: wait and retry, the key stays
    valid. Up to 5 keys per account — create the second one ahead of time so
    you can rotate without downtime.

    ## Errors

    Every failure answers with the same body, a stable snake_case code:

    ```json
    { "error": "delivery_instructions_required" }
    ```

    Branch on `error`, not on the message — there is no message.

servers:
  - url: https://api.moonup.gg
    description: Production

security:
  - api_key: []

tags:
  - name: Catalog
    description: |
      What can be listed, and what each category's fields are. Public: these
      read without a key, so you can explore before you have one.
  - name: Accounts
    description: Game accounts, sold whole — one price, one picture.
  - name: Top-ups
    description: Top-up packs, handed over by one of the platform's delivery methods.
  - name: Gift cards
    description: Fixed-denomination codes, handed over instantly.
  - name: Currency
    description: In-game currency, priced per unit out of a stock you keep.
  - name: Pictures
    description: Where an offer's images come from.

paths:
  /v1/offers/games:
    get:
      tags: [Catalog]
      summary: List games
      description: Every game with listings open. `slug` is what the rest of the API names a game by.
      security: []
      parameters:
        - name: category
          in: query
          description: Only games with this category open.
          schema: { type: string, examples: [accounts] }
        - name: q
          in: query
          description: Narrow by name.
          schema: { type: string }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  games:
                    type: array
                    items: { $ref: "#/components/schemas/Game" }
                  total: { type: integer, format: int64 }

  /v1/offers/games/{game}/categories:
    get:
      tags: [Catalog]
      summary: List a game's categories
      security: []
      parameters:
        - { $ref: "#/components/parameters/Game" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items: { $ref: "#/components/schemas/GameCategory" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/offers/games/{game}/categories/{category_slug}/schema:
    get:
      tags: [Catalog]
      summary: What this category needs
      description: |
        The one call to make before building a create body: `attributes[]` is
        the category's field list, and `version` is what a listing created now
        is pinned to. What else a body must carry is the category's own create
        page — each category takes only its own fields.
      security: []
      parameters:
        - { $ref: "#/components/parameters/Game" }
        - { $ref: "#/components/parameters/CategorySlug" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CategorySchema" }
              examples:
                accounts:
                  summary: An accounts category — a picture, a price, either delivery
                  value:
                    id: 018f2c1e-0000-7000-8000-000000000001
                    game_category_id: 018f2c1e-0000-7000-8000-000000000002
                    version: 1
                    attributes:
                      - key: more_played_game
                        label: Most Played Game
                        type: enum
                        required: true
                        filterable: true
                        enum_values: ["Blox Fruits", "Adopt Me!"]
                      - key: robux_balance
                        label: Robux Balance
                        type: number
                        required: false
                        filterable: false
                        min: 0
                currency:
                  summary: A currency category — priced per unit out of a stock, manual only
                  value:
                    id: 018f2c1e-0000-7000-8000-000000000003
                    game_category_id: 018f2c1e-0000-7000-8000-000000000004
                    version: 2
                    attributes: []
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/offers/games/{game}/categories/{category_slug}/products:
    get:
      tags: [Catalog]
      summary: List a category's products
      description: |
        The curated products a bulk (currency) listing may sell. `slug` is what
        `product_slug` names. Empty for categories that are not priced per unit.
      security: []
      parameters:
        - { $ref: "#/components/parameters/Game" }
        - { $ref: "#/components/parameters/CategorySlug" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items: { $ref: "#/components/schemas/Product" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/offers/games/{game_id}/catalog/{attribute_key}:
    get:
      tags: [Catalog]
      summary: List a reference field's values
      description: |
        The allowed values of one `reference` attribute — a game's skins, maps
        or ranks. An offer's `attributes` carries the `id` of the chosen row.
        Only for fields whose `type` is `reference`; `enum` fields carry their
        values inline in the schema.
      security: []
      parameters:
        - name: game_id
          in: path
          required: true
          description: The game's id, as `GET /v1/offers/games` returns it.
          schema: { type: string, format: uuid }
        - name: attribute_key
          in: path
          required: true
          description: The schema field's `catalog_key`, or its `key` when it has none.
          schema: { type: string, examples: [skin] }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/CatalogItem" }

  /v1/offers/delivery-methods:
    get:
      tags: [Catalog]
      summary: List delivery methods
      description: |
        The global list a listing's `delivery_method` is picked from. A
        category narrows it: a top-up or a gift card delivered instantly takes
        `activation_code` and nothing else, and a category whose create body
        has no `delivery_method` at all picks none.
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  delivery_methods:
                    type: array
                    items: { $ref: "#/components/schemas/DeliveryMethod" }

  /v1/offers/accounts:
    post:
      tags: [Accounts]
      operationId: createFixedPriceOffer_accounts
      summary: Create a game account listing
      description: |
        Created as a `draft` — nobody but you can see it until you publish it.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FixedPriceCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FixedPriceOffer" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/offers/accounts/my:
    get:
      tags: [Accounts]
      operationId: listFixedPriceOffers_accounts
      summary: List your accounts listings
      description: |
        Yours in this category, in any status. The seller is the key's own
        account — there is no parameter to read someone else's.
      parameters:
        - name: status
          in: query
          description: Comma-separated. A status nothing matches is an empty list, not an error.
          schema: { type: string, examples: ["active,draft"] }
        - name: game
          in: query
          description: Narrow to one game, by slug.
          schema: { type: string }
        - name: q
          in: query
          description: Narrow by title.
          schema: { type: string }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  offers:
                    type: array
                    items: { $ref: "#/components/schemas/FixedPriceRow" }
                  counts:
                    type: object
                    description: How many of your listings sit in each status.
                    additionalProperties: { type: integer }
                  facets:
                    type: object
                    description: The games you actually have listings in.
                  total: { type: integer, format: int64 }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/offers/accounts/{id}:
    get:
      tags: [Accounts]
      operationId: getFixedPriceOffer_accounts
      summary: Get one of your accounts listings
      description: |
        Any status, including what is left of its stock. A listing filed under
        another category answers `404`, like one that is not yours.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FixedPriceOfferDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Accounts]
      operationId: updateFixedPriceOffer_accounts
      summary: Edit one of your accounts listings
      description: |
        Every field is optional and means "leave this alone" when absent.
        Sending `images` or `tags` replaces the whole list rather than adding
        to it.

        Editing leaves the listing where it stands: an `active` one stays
        live, a `draft` stays a draft.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FixedPriceUpdate" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FixedPriceOffer" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
    delete:
      tags: [Accounts]
      operationId: archiveFixedPriceOffer_accounts
      summary: Delete one of your accounts listings
      description: |
        Retires the listing for good — it leaves the marketplace, stays
        readable to you, and cannot be brought back. To take it down
        temporarily, unpublish it instead.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FixedPriceOffer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/offers/accounts/{id}/publish:
    post:
      tags: [Accounts]
      operationId: publishFixedPriceOffer_accounts
      summary: Publish one of your accounts draft listings
      description: |
        Puts a `draft` on the marketplace. Buyers can see and buy it the moment
        this returns — nothing reviews it first.

        A listing with nothing left to sell is refused with `409`: add stock
        first.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FixedPriceOffer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/offers/accounts/{id}/unpublish:
    post:
      tags: [Accounts]
      operationId: unpublishFixedPriceOffer_accounts
      summary: Unpublish one of your accounts listings
      description: Back to `draft`. Buyers stop seeing the listing; `publish` puts it back.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FixedPriceOffer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/offers/accounts/{id}/units:
    post:
      tags: [Accounts]
      operationId: restockFixedPriceOffer_accounts
      summary: Restock one of your accounts listings
      description: |
        Adds units to the pool. Each entry is your own JSON — a login, a code,
        whatever the goods are. It is encrypted at rest and never read back by
        this API; only the buyer receives it, after the sale.

        Instant delivery only. This call is not idempotent: a retry adds the
        units again.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [units]
              properties:
                units:
                  type: array
                  minItems: 1
                  items: { type: object, description: Opaque to the platform. }
            examples:
              codes:
                value: { units: [{ code: "AAAA-BBBB" }, { code: "CCCC-DDDD" }] }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  units:
                    type: array
                    items: { $ref: "#/components/schemas/Unit" }
        "400":
          description: The listing is not instant (`not_instant_delivery`), or the body is malformed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/offers/accounts/{id}/units/{unit_id}:
    delete:
      tags: [Accounts]
      operationId: removeUnitFixedPrice_accounts
      summary: Remove an unsold unit
      description: |
        Only while the unit is still available. Removing the last available
        one leaves the listing with no stock, which takes it off the
        marketplace until you restock.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
        - name: unit_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Removed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: The unit is reserved or already sold (`unit_not_deletable`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/offers/top-ups:
    post:
      tags: [Top-ups]
      operationId: createTopUpOffer_top_up
      summary: Create a top-up pack listing
      description: |
        Created as a `draft` — nobody but you can see it until you publish it.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TopUpCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TopUpOffer" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/offers/top-ups/my:
    get:
      tags: [Top-ups]
      operationId: listTopUpOffers_top_up
      summary: List your top-up listings
      description: |
        Yours in this category, in any status. The seller is the key's own
        account — there is no parameter to read someone else's.
      parameters:
        - name: status
          in: query
          description: Comma-separated. A status nothing matches is an empty list, not an error.
          schema: { type: string, examples: ["active,draft"] }
        - name: game
          in: query
          description: Narrow to one game, by slug.
          schema: { type: string }
        - name: q
          in: query
          description: Narrow by title.
          schema: { type: string }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  offers:
                    type: array
                    items: { $ref: "#/components/schemas/TopUpRow" }
                  counts:
                    type: object
                    description: How many of your listings sit in each status.
                    additionalProperties: { type: integer }
                  facets:
                    type: object
                    description: The games you actually have listings in.
                  total: { type: integer, format: int64 }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/offers/top-ups/{id}:
    get:
      tags: [Top-ups]
      operationId: getTopUpOffer_top_up
      summary: Get one of your top-up listings
      description: |
        Any status, including what is left of its stock. A listing filed under
        another category answers `404`, like one that is not yours.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TopUpOfferDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Top-ups]
      operationId: updateTopUpOffer_top_up
      summary: Edit one of your top-up listings
      description: |
        Every field is optional and means "leave this alone" when absent.
        Sending `images` or `tags` replaces the whole list rather than adding
        to it.

        Editing leaves the listing where it stands: an `active` one stays
        live, a `draft` stays a draft.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TopUpUpdate" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TopUpOffer" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
    delete:
      tags: [Top-ups]
      operationId: archiveTopUpOffer_top_up
      summary: Delete one of your top-up listings
      description: |
        Retires the listing for good — it leaves the marketplace, stays
        readable to you, and cannot be brought back. To take it down
        temporarily, unpublish it instead.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TopUpOffer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/offers/top-ups/{id}/publish:
    post:
      tags: [Top-ups]
      operationId: publishTopUpOffer_top_up
      summary: Publish one of your top-up draft listings
      description: |
        Puts a `draft` on the marketplace. Buyers can see and buy it the moment
        this returns — nothing reviews it first.

        A listing with nothing left to sell is refused with `409`: add stock
        first.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TopUpOffer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/offers/top-ups/{id}/unpublish:
    post:
      tags: [Top-ups]
      operationId: unpublishTopUpOffer_top_up
      summary: Unpublish one of your top-up listings
      description: Back to `draft`. Buyers stop seeing the listing; `publish` puts it back.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TopUpOffer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/offers/top-ups/{id}/units:
    post:
      tags: [Top-ups]
      operationId: restockTopUpOffer_top_up
      summary: Restock one of your top-up listings
      description: |
        Adds units to the pool. Each entry is your own JSON — a login, a code,
        whatever the goods are. It is encrypted at rest and never read back by
        this API; only the buyer receives it, after the sale.

        Instant delivery only. This call is not idempotent: a retry adds the
        units again.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [units]
              properties:
                units:
                  type: array
                  minItems: 1
                  items: { type: object, description: Opaque to the platform. }
            examples:
              codes:
                value: { units: [{ code: "AAAA-BBBB" }, { code: "CCCC-DDDD" }] }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  units:
                    type: array
                    items: { $ref: "#/components/schemas/Unit" }
        "400":
          description: The listing is not instant (`not_instant_delivery`), or the body is malformed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/offers/top-ups/{id}/units/{unit_id}:
    delete:
      tags: [Top-ups]
      operationId: removeUnitTopUp_top_up
      summary: Remove an unsold unit
      description: |
        Only while the unit is still available. Removing the last available
        one leaves the listing with no stock, which takes it off the
        marketplace until you restock.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
        - name: unit_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Removed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: The unit is reserved or already sold (`unit_not_deletable`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/offers/gift-cards:
    post:
      tags: [Gift cards]
      operationId: createGiftCardOffer_gift_card
      summary: Create a gift card listing
      description: |
        Created as a `draft` — nobody but you can see it until you publish it.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GiftCardCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GiftCardOffer" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/offers/gift-cards/my:
    get:
      tags: [Gift cards]
      operationId: listGiftCardOffers_gift_card
      summary: List your gift-card listings
      description: |
        Yours in this category, in any status. The seller is the key's own
        account — there is no parameter to read someone else's.
      parameters:
        - name: status
          in: query
          description: Comma-separated. A status nothing matches is an empty list, not an error.
          schema: { type: string, examples: ["active,draft"] }
        - name: game
          in: query
          description: Narrow to one game, by slug.
          schema: { type: string }
        - name: q
          in: query
          description: Narrow by title.
          schema: { type: string }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  offers:
                    type: array
                    items: { $ref: "#/components/schemas/GiftCardRow" }
                  counts:
                    type: object
                    description: How many of your listings sit in each status.
                    additionalProperties: { type: integer }
                  facets:
                    type: object
                    description: The games you actually have listings in.
                  total: { type: integer, format: int64 }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/offers/gift-cards/{id}:
    get:
      tags: [Gift cards]
      operationId: getGiftCardOffer_gift_card
      summary: Get one of your gift-card listings
      description: |
        Any status, including what is left of its stock. A listing filed under
        another category answers `404`, like one that is not yours.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GiftCardOfferDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Gift cards]
      operationId: updateGiftCardOffer_gift_card
      summary: Edit one of your gift-card listings
      description: |
        Every field is optional and means "leave this alone" when absent.
        Sending `images` or `tags` replaces the whole list rather than adding
        to it.

        Editing leaves the listing where it stands: an `active` one stays
        live, a `draft` stays a draft.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GiftCardUpdate" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GiftCardOffer" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
    delete:
      tags: [Gift cards]
      operationId: archiveGiftCardOffer_gift_card
      summary: Delete one of your gift-card listings
      description: |
        Retires the listing for good — it leaves the marketplace, stays
        readable to you, and cannot be brought back. To take it down
        temporarily, unpublish it instead.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GiftCardOffer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/offers/gift-cards/{id}/publish:
    post:
      tags: [Gift cards]
      operationId: publishGiftCardOffer_gift_card
      summary: Publish one of your gift-card draft listings
      description: |
        Puts a `draft` on the marketplace. Buyers can see and buy it the moment
        this returns — nothing reviews it first.

        A listing with nothing left to sell is refused with `409`: add stock
        first.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GiftCardOffer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/offers/gift-cards/{id}/unpublish:
    post:
      tags: [Gift cards]
      operationId: unpublishGiftCardOffer_gift_card
      summary: Unpublish one of your gift-card listings
      description: Back to `draft`. Buyers stop seeing the listing; `publish` puts it back.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GiftCardOffer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/offers/gift-cards/{id}/units:
    post:
      tags: [Gift cards]
      operationId: restockGiftCardOffer_gift_card
      summary: Restock one of your gift-card listings
      description: |
        Adds units to the pool. Each entry is your own JSON — a login, a code,
        whatever the goods are. It is encrypted at rest and never read back by
        this API; only the buyer receives it, after the sale.

        Instant delivery only. This call is not idempotent: a retry adds the
        units again.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [units]
              properties:
                units:
                  type: array
                  minItems: 1
                  items: { type: object, description: Opaque to the platform. }
            examples:
              codes:
                value: { units: [{ code: "AAAA-BBBB" }, { code: "CCCC-DDDD" }] }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  units:
                    type: array
                    items: { $ref: "#/components/schemas/Unit" }
        "400":
          description: The listing is not instant (`not_instant_delivery`), or the body is malformed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/offers/gift-cards/{id}/units/{unit_id}:
    delete:
      tags: [Gift cards]
      operationId: removeUnitGiftCard_gift_card
      summary: Remove an unsold unit
      description: |
        Only while the unit is still available. Removing the last available
        one leaves the listing with no stock, which takes it off the
        marketplace until you restock.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
        - name: unit_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Removed. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: The unit is reserved or already sold (`unit_not_deletable`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/offers/currency:
    post:
      tags: [Currency]
      operationId: createCurrencyOffer_currency
      summary: Create in-game currency listing
      description: |
        Created as a `draft` — nobody but you can see it until you publish it.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CurrencyCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CurrencyOffer" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/offers/currency/my:
    get:
      tags: [Currency]
      operationId: listCurrencyOffers_currency
      summary: List your currency listings
      description: |
        Yours in this category, in any status. The seller is the key's own
        account — there is no parameter to read someone else's.
      parameters:
        - name: status
          in: query
          description: Comma-separated. A status nothing matches is an empty list, not an error.
          schema: { type: string, examples: ["active,draft"] }
        - name: game
          in: query
          description: Narrow to one game, by slug.
          schema: { type: string }
        - name: q
          in: query
          description: Narrow by title.
          schema: { type: string }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Offset" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  offers:
                    type: array
                    items: { $ref: "#/components/schemas/CurrencyRow" }
                  counts:
                    type: object
                    description: How many of your listings sit in each status.
                    additionalProperties: { type: integer }
                  facets:
                    type: object
                    description: The games you actually have listings in.
                  total: { type: integer, format: int64 }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/offers/currency/{id}:
    get:
      tags: [Currency]
      operationId: getCurrencyOffer_currency
      summary: Get one of your currency listings
      description: |
        Any status, including what is left of its stock. A listing filed under
        another category answers `404`, like one that is not yours.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CurrencyOfferDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Currency]
      operationId: updateCurrencyOffer_currency
      summary: Edit one of your currency listings
      description: |
        Every field is optional and means "leave this alone" when absent.
        Sending `images` or `tags` replaces the whole list rather than adding
        to it.

        Editing leaves the listing where it stands: an `active` one stays
        live, a `draft` stays a draft.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CurrencyUpdate" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CurrencyOffer" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
    delete:
      tags: [Currency]
      operationId: archiveCurrencyOffer_currency
      summary: Delete one of your currency listings
      description: |
        Retires the listing for good — it leaves the marketplace, stays
        readable to you, and cannot be brought back. To take it down
        temporarily, unpublish it instead.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CurrencyOffer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/offers/currency/{id}/publish:
    post:
      tags: [Currency]
      operationId: publishCurrencyOffer_currency
      summary: Publish one of your currency draft listings
      description: |
        Puts a `draft` on the marketplace. Buyers can see and buy it the moment
        this returns — nothing reviews it first.

        A listing with nothing left to sell is refused with `409`: add stock
        first.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CurrencyOffer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/offers/currency/{id}/unpublish:
    post:
      tags: [Currency]
      operationId: unpublishCurrencyOffer_currency
      summary: Unpublish one of your currency listings
      description: Back to `draft`. Buyers stop seeing the listing; `publish` puts it back.
      parameters:
        - { $ref: "#/components/parameters/OfferID" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CurrencyOffer" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/offers/images:
    post:
      tags: [Pictures]
      summary: Upload a picture
      description: |
        The body is the picture itself — a JPEG or a PNG, up to 4 MiB. It is
        stored as sent, minus its metadata (EXIF, including GPS and
        orientation, XMP, comments).

        There is no confirm step: sending the returned `image_url` in
        `images[]` on create or patch is what attaches it.
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl --request POST \
              --url https://api.moonup.gg/v1/offers/images \
              --header 'Authorization: Bearer <token>' \
              --header 'Content-Type: image/png' \
              --data-binary @cover.png
      requestBody:
        required: true
        content:
          image/jpeg:
            schema: { type: string, format: binary }
          image/png:
            schema: { type: string, format: binary }
      responses:
        "201":
          description: Stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  image_url: { type: string, format: uri }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503":
          description: |
            Too many pictures are being processed at once and this one could
            not start within 10 seconds. Nothing was stored; send it again.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                unavailable:
                  value: { error: unavailable }

components:
  securitySchemes:
    api_key:
      type: http
      scheme: bearer
      description: Your API key, from the cabinet under **Seller → API keys**.

  parameters:
    Game:
      name: game
      in: path
      required: true
      description: The game's `slug`, or its id — both are accepted.
      schema: { type: string, examples: [roblox] }
    CategorySlug:
      name: category_slug
      in: path
      required: true
      schema: { type: string, examples: [accounts] }
    OfferID:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    Limit:
      name: limit
      in: query
      description: Page size. Absent or 0 returns everything.
      schema: { type: integer, minimum: 0 }
    Offset:
      name: offset
      in: query
      schema: { type: integer, minimum: 0 }

  responses:
    BadRequest:
      description: |
        The body or a parameter is wrong. `error` names which rule — e.g.
        `delivery_instructions_required`, `bulk_fields_required`,
        `instant_requires_activation_code`, `title_too_short`,
        `invalid_attributes`, `invalid_image`, `invalid_tags`.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            missing_field:
              value: { error: delivery_instructions_required }
    Unauthorized:
      description: |
        The key is unknown, revoked, or the request came from an address
        outside the key's list. Which check failed is not disclosed.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            unauthorized:
              value: { error: unauthorized }
    Forbidden:
      description: |
        The key is valid but the account may not do this — it lacks the
        permission, or it is suspended (`account_suspended`).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: No such thing — or none you may know about, which answers the same on purpose.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            not_found:
              value: { error: not_found }
    Conflict:
      description: |
        The request was well formed, the offer is just not where it would have
        to be — `invalid_transition`, `offer_locked`, `sold_out`,
        `seller_on_vacation`.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    RateLimited:
      description: One of the budgets is spent. Wait and retry; the key stays valid.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            rate_limited:
              value: { error: rate_limited }

  schemas:
    Error:
      type: object
      description: The one failure shape this API answers with.
      properties:
        error:
          type: string
          description: A stable snake_case code. Branch on this.
          examples: [delivery_instructions_required]
      required: [error]

    Game:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string, examples: [roblox] }
        name: { type: string }
        icon_url: { type: [string, "null"], format: uri }
        hero_url: { type: [string, "null"], format: uri }
        pack_icon_url: { type: [string, "null"], format: uri }
        offer_count:
          type: integer
          format: int64
          description: |
            Active listings, narrowed to the `category` this list was asked
            for. Counts what a buyer could actually buy: out of stock, and
            sellers away, are left out.
        created_at: { type: [string, "null"], format: date-time }

    GameCategory:
      type: object
      properties:
        id: { type: string, format: uuid }
        game_category_id:
          type: string
          format: uuid
          description: This game/category pair's own id.
        slug: { type: string, examples: [accounts] }
        name: { type: string }
        icon_url: { type: [string, "null"], format: uri }
        hero_url: { type: [string, "null"], format: uri }
        pack_icon_url: { type: [string, "null"], format: uri }

    Product:
      type: object
      properties:
        id: { type: string, format: uuid }
        game_category_id: { type: string, format: uuid }
        slug: { type: string, description: What `product_slug` names. }
        name: { type: string }
        icon_url: { type: [string, "null"], format: uri }
        scale:
          type: string
          enum: [unit, thousand, million]
          description: |
            The unit `price_per_unit` and `stock_quantity` are counted in for
            this product. A price is per one of these, not per coin.
        created_at: { type: [string, "null"], format: date-time }

    CatalogItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: What a `reference` attribute carries as its value.
        name: { type: string }
        image_url: { type: [string, "null"], format: uri }

    DeliveryMethod:
      type: object
      properties:
        key: { type: string, examples: [activation_code] }
        label: { type: string }
        description: { type: string }
        version: { type: integer, description: "Bumped when `buyer_fields` change; a listing keeps the version it was created under." }
        buyer_fields:
          type: array
          description: What the buyer is asked for at checkout. You collect nothing yourself.
          items: { $ref: "#/components/schemas/SchemaField" }

    SchemaField:
      type: object
      description: One field of a category's attribute schema.
      properties:
        key: { type: string }
        label: { type: string }
        type:
          type: string
          enum: [string, number, boolean, enum, reference, password]
        required: { type: boolean }
        filterable:
          type: boolean
          description: The storefront offers this field as a filter.
        multiple:
          type: boolean
          description: The value is then an array of what `type` describes.
        enum_values:
          type: array
          items: { type: string }
          description: Allowed values, for `enum`.
        catalog_key:
          type: string
          description: |
            For `reference` — which catalog to read the allowed ids from, at
            `GET /v1/offers/games/{game_id}/catalog/{attribute_key}`. Equal to
            `key` when absent.
        min: { type: number, description: "For `number` — the smallest value accepted." }
        max: { type: number, description: "For `number` — the largest." }
      required: [key, label, type, required, filterable]

    CategorySchema:
      type: object
      description: A category's fields, and what its create call demands.
      properties:
        id: { type: string, format: uuid }
        game_category_id: { type: string, format: uuid }
        version:
          type: integer
          description: The schema version a listing created now is pinned to.
        attributes:
          type: array
          items: { $ref: "#/components/schemas/SchemaField" }
        created_at: { type: [string, "null"], format: date-time }

    OfferBase:
      type: object
      description: What every category's listing carries, whatever it sells.
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        description: { type: string }
        attributes:
          type: object
          description: The category's own fields, keyed by the schema's `key`.
          additionalProperties: true
        tags:
          type: array
          items: { type: string }
        status:
          type: string
          description: |
            `draft` on create, then `active` once you publish it; unpublish
            takes it back to `draft`. `archived` is yours too, through `DELETE`. `sold`
            follows an order: the last unit went to a closed one.
          enum: [draft, active, sold, archived]
        created_at: { type: [string, "null"], format: date-time }
        updated_at: { type: [string, "null"], format: date-time }
        published_at:
          type: [string, "null"]
          format: date-time
          description: |
            When `publish` put it on the marketplace. `null` while it is a
            draft, and written once — pausing and unpausing leave it alone.

    FiledUnder:
      type: object
      description: Which game a listing is under. The category is the path.
      properties:
        game_id: { type: string, format: uuid }
        game_slug: { type: string }

    Pool:
      type: object
      description: The stock of a listing that sells out of encrypted units.
      properties:
        available_units: { type: integer, format: int64, description: Units neither reserved nor sold. }
        units:
          type: array
          description: Your own pool — id and status per unit, never the goods.
          items: { $ref: "#/components/schemas/Unit" }

    Unit:
      type: object
      properties:
        id: { type: string, format: uuid }
        status:
          type: string
          enum: [available, reserved, sold, revoked]
          description: |
            `available` until an order takes it. `revoked` is a unit whose
            goods reached the buyer and were then refunded — it is wiped, and
            never sells again.

    RowBase:
      type: object
      description: What every category's list row carries.
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        status: { type: string, description: The same values an offer's own `status` takes. }
        updated_at: { type: [string, "null"], format: date-time }
        game_name: { type: string }
        game_slug: { type: string }
        game_icon_url: { type: [string, "null"], format: uri }

    Delivery:
      type: object
      description: How a listing sold by hand promises to hand over.
      properties:
        manual_delivery_value:
          type: [integer, "null"]
          format: int32
          description: The handover time promised, read together with the unit — `2` and `hours`.
        manual_delivery_unit:
          type: [string, "null"]
          enum: [minutes, hours, days, null]
          description: What the value counts. Both are `null` on a listing delivered instantly.

    FixedPriceCreate:
      type: object
      required: [game, title, price, delivery_type]
      properties:
        game: { type: string, description: The game's slug. }
        title: { type: string, minLength: 8, maxLength: 128 }
        description: { type: string, maxLength: 4096 }
        price:
          type: integer
          format: int64
          description: US cents — `4990` is $49.90. USD is the only currency the platform prices in.
        images:
          type: array
          minItems: 1
          maxItems: 10
          items: { type: string, format: uri }
          description: |
            `image_url`s returned by `POST /v1/offers/images`. At
            least one: it is the cover the marketplace renders. A URL from
            anywhere else is refused (`invalid_image`).
        tags:
          type: array
          items: { type: string }
          description: Up to 500 characters in all, counted as the tags joined with ", ". No commas inside a tag. Stored trimmed, lower-cased and deduplicated.
        attributes:
          type: object
          description: The category's own fields — read them from its schema.
          additionalProperties: true
        delivery_type:
          type: string
          enum: [instant, manual]
          description: |
            `instant` hands a unit from the pool over the moment an order is
            paid. `manual` is you handing over yourself, within the time below.
        units:
          type: array
          description: |
            `delivery_type: instant` only — one opaque JSON payload per unit,
            the goods themselves. Encrypted at rest; never read back.
          items: { type: object }
        manual_delivery_value:
          type: integer
          format: int32
          description: "`delivery_type: manual` only — the handover time you promise."
        manual_delivery_unit:
          type: string
          enum: [minutes, hours, days]
          description: What `manual_delivery_value` counts.

    FixedPriceUpdate:
      type: object
      description: Every field optional; absent means "leave unchanged".
      properties:
        title: { type: string, minLength: 8, maxLength: 128 }
        description: { type: string, maxLength: 4096 }
        price: { type: integer, format: int64, description: US cents. }
        images:
          type: array
          maxItems: 10
          items: { type: string, format: uri }
          description: Replaces the whole gallery.
        tags:
          type: array
          items: { type: string }
          description: Replaces the whole list. Same limits as on create.
        attributes:
          type: object
          additionalProperties: true
          description: |
            Replaces the whole map — send every field the category asks for,
            not only the one that changed.
        delivery_type:
          type: string
          enum: [instant, manual]
          description: Changing it replaces the listing's unit pool.
        units:
          type: array
          items: { type: object }
          description: |
            Read only when `delivery_type` switches to `instant`, as the pool
            the listing starts over with. Ignored otherwise: stock is added
            through `POST .../units`.
        manual_delivery_value: { type: integer, format: int32, description: The handover time you promise. }
        manual_delivery_unit: { type: string, enum: [minutes, hours, days], description: What the value counts. }

    FixedPriceOffer:
      allOf:
        - { $ref: "#/components/schemas/OfferBase" }
        - { $ref: "#/components/schemas/Delivery" }
        - type: object
          properties:
            price: { type: integer, format: int64, description: US cents. }
            currency: { type: string, examples: [USD], description: Always `USD`. }
            images:
              type: array
              items: { type: string, format: uri }
            delivery_type:
              type: string
              enum: [instant, manual]
              description: "`instant` sells out of the unit pool; `manual` you hand over yourself."

    FixedPriceOfferDetail:
      allOf:
        - { $ref: "#/components/schemas/FixedPriceOffer" }
        - { $ref: "#/components/schemas/FiledUnder" }
        - { $ref: "#/components/schemas/Pool" }

    FixedPriceRow:
      allOf:
        - { $ref: "#/components/schemas/RowBase" }
        - type: object
          properties:
            price: { type: integer, format: int64, description: US cents. }
            currency: { type: string, description: Always `USD`. }
            images:
              type: array
              items: { type: string, format: uri }
            delivery_type:
              type: string
              enum: [instant, manual]
              description: "`instant` sells out of the unit pool; `manual` you hand over yourself."
            stock: { type: integer, description: Units still available. }

    TopUpCreate:
      allOf:
        - { $ref: "#/components/schemas/FixedPriceCreate" }
        - type: object
          required: [delivery_method, delivery_instructions]
          properties:
            delivery_method:
              type: string
              description: |
                A key from `GET /v1/offers/delivery-methods`. Instant delivery
                is only possible with `activation_code`.
            delivery_instructions:
              type: string
              maxLength: 2048
              description: What the buyer is told to do at handover, in your words.
      description: |
        A top-up's pictures are optional — the marketplace renders the pack
        tile, not an offer gallery.

    TopUpUpdate:
      allOf:
        - { $ref: "#/components/schemas/FixedPriceUpdate" }
        - type: object
          properties:
            delivery_method: { type: string, description: A key from `GET /v1/offers/delivery-methods`. }
            delivery_instructions: { type: string, maxLength: 2048, description: What the buyer is told to do at handover. }

    TopUpOffer:
      allOf:
        - { $ref: "#/components/schemas/FixedPriceOffer" }
        - type: object
          properties:
            delivery_method: { type: [string, "null"], description: The key this listing hands over by. }
            delivery_instructions: { type: string, description: What the buyer is told to do at handover. }

    TopUpOfferDetail:
      allOf:
        - { $ref: "#/components/schemas/TopUpOffer" }
        - { $ref: "#/components/schemas/FiledUnder" }
        - { $ref: "#/components/schemas/Pool" }

    TopUpRow:
      allOf:
        - { $ref: "#/components/schemas/FixedPriceRow" }
        - type: object
          properties:
            delivery_method: { type: [string, "null"], description: The key this listing hands over by. }

    GiftCardCreate:
      type: object
      description: |
        A gift card is one redemption code, handed over instantly — there is
        no delivery type to pick and no handover time to promise.
      required: [game, title, price, delivery_method, units]
      properties:
        game: { type: string, description: The game's slug. }
        title: { type: string, minLength: 8, maxLength: 128 }
        description: { type: string, maxLength: 4096 }
        price: { type: integer, format: int64, description: US cents. }
        images:
          type: array
          maxItems: 10
          items: { type: string, format: uri }
          description: Optional — the marketplace renders the pack tile.
        tags:
          type: array
          items: { type: string }
          description: Up to 500 characters in all, counted as the tags joined with ", ". No commas inside a tag. Stored trimmed, lower-cased and deduplicated.
        attributes:
          type: object
          additionalProperties: true
          description: The category's own fields — read them from its schema.
        delivery_method:
          type: string
          description: A key from `GET /v1/offers/delivery-methods` — `activation_code`.
        units:
          type: array
          minItems: 1
          description: The codes themselves, one opaque JSON payload each. Encrypted at rest; never read back.
          items: { type: object }

    GiftCardUpdate:
      type: object
      description: Every field optional; absent means "leave unchanged".
      properties:
        title: { type: string, minLength: 8, maxLength: 128 }
        description: { type: string, maxLength: 4096 }
        price: { type: integer, format: int64, description: US cents. }
        images:
          type: array
          maxItems: 10
          items: { type: string, format: uri }
          description: Replaces the whole gallery.
        tags:
          type: array
          items: { type: string }
          description: Replaces the whole list. Same limits as on create.
        attributes:
          type: object
          additionalProperties: true
          description: Replaces the whole map — send every field, not only the changed one.
        delivery_method: { type: string, description: A key from `GET /v1/offers/delivery-methods` — `activation_code`. }

    GiftCardOffer:
      allOf:
        - { $ref: "#/components/schemas/OfferBase" }
        - type: object
          properties:
            price: { type: integer, format: int64, description: US cents. }
            currency: { type: string, examples: [USD], description: Always `USD`. }
            images:
              type: array
              items: { type: string, format: uri }
            delivery_method: { type: [string, "null"], description: The key this listing hands over by. }

    GiftCardOfferDetail:
      allOf:
        - { $ref: "#/components/schemas/GiftCardOffer" }
        - { $ref: "#/components/schemas/FiledUnder" }
        - { $ref: "#/components/schemas/Pool" }

    GiftCardRow:
      allOf:
        - { $ref: "#/components/schemas/RowBase" }
        - type: object
          properties:
            price: { type: integer, format: int64, description: US cents. }
            currency: { type: string, description: Always `USD`. }
            images:
              type: array
              items: { type: string, format: uri }
            delivery_method: { type: [string, "null"], description: The key this listing hands over by. }
            stock: { type: integer, description: Codes still available. }

    CurrencyCreate:
      type: object
      description: |
        Currency is priced per unit out of a stock you keep, and handed over by
        hand — there is no listing price, no unit pool and no gallery. The
        three quantities are counted in the product's own `scale`: for a
        product sold by the million, `stock_quantity: 500` is 500 million.
      required:
        [game, title, product_slug, price_per_unit, stock_quantity, min_order_quantity,
         delivery_method, delivery_instructions, manual_delivery_value, manual_delivery_unit]
      properties:
        game: { type: string, description: The game's slug. }
        title: { type: string, minLength: 8, maxLength: 128 }
        description: { type: string, maxLength: 4096 }
        tags:
          type: array
          items: { type: string }
          description: Up to 500 characters in all, counted as the tags joined with ", ". No commas inside a tag. Stored trimmed, lower-cased and deduplicated.
        attributes:
          type: object
          additionalProperties: true
          description: The category's own fields — read them from its schema.
        product_slug:
          type: string
          description: One of the game category's products — `GET .../products`.
        price_per_unit: { type: integer, format: int64, description: US cents per one of the product's `scale`. }
        stock_quantity: { type: integer, format: int64, description: "How much you have, counted in the product's `scale`." }
        min_order_quantity: { type: integer, format: int64, description: The smallest order you will take. }
        delivery_method: { type: string, description: A key from `GET /v1/offers/delivery-methods`. }
        delivery_instructions: { type: string, maxLength: 2048, description: "What the buyer is told to do at handover, in your words." }
        manual_delivery_value: { type: integer, format: int32, description: The handover time you promise. }
        manual_delivery_unit: { type: string, enum: [minutes, hours, days], description: What the value counts. }

    CurrencyUpdate:
      type: object
      description: |
        Every field optional; absent means "leave unchanged". Repricing and
        restocking here are ordinary edits.
      properties:
        title: { type: string, minLength: 8, maxLength: 128 }
        description: { type: string, maxLength: 4096 }
        tags:
          type: array
          items: { type: string }
          description: Replaces the whole list. Same limits as on create.
        attributes:
          type: object
          additionalProperties: true
          description: Replaces the whole map — send every field, not only the changed one.
        price_per_unit: { type: integer, format: int64, description: US cents per one of the product's `scale`. }
        stock_quantity: { type: integer, format: int64, description: "What you have left, in the product's `scale` — restocking is this field." }
        min_order_quantity: { type: integer, format: int64, description: The smallest order you will take. }
        delivery_method: { type: string, description: A key from `GET /v1/offers/delivery-methods`. }
        delivery_instructions: { type: string, maxLength: 2048, description: What the buyer is told to do at handover. }
        manual_delivery_value: { type: integer, format: int32, description: The handover time you promise. }
        manual_delivery_unit: { type: string, enum: [minutes, hours, days], description: What the value counts. }

    CurrencyOffer:
      allOf:
        - { $ref: "#/components/schemas/OfferBase" }
        - { $ref: "#/components/schemas/Delivery" }
        - type: object
          properties:
            currency: { type: string, examples: [USD], description: Always `USD`. }
            product_id: { type: [string, "null"], format: uuid, description: "The product this listing sells, from `GET .../products`." }
            price_per_unit: { type: [integer, "null"], format: int64, description: US cents per one of the product's scale. }
            stock_quantity: { type: [integer, "null"], format: int64, description: "What is left, in that same scale." }
            min_order_quantity: { type: [integer, "null"], format: int64, description: The smallest order this listing takes. }
            delivery_method: { type: [string, "null"], description: The key this listing hands over by. }
            delivery_instructions: { type: string, description: What the buyer is told to do at handover. }

    CurrencyOfferDetail:
      allOf:
        - { $ref: "#/components/schemas/CurrencyOffer" }
        - { $ref: "#/components/schemas/FiledUnder" }
        - type: object
          properties:
            product_scale:
              type: [string, "null"]
              description: What one unit means — `unit`, `thousand` or `million`.

    CurrencyRow:
      allOf:
        - { $ref: "#/components/schemas/RowBase" }
        - type: object
          properties:
            currency: { type: string, description: Always `USD`. }
            price_per_unit: { type: [integer, "null"], format: int64, description: US cents per one of the product's scale. }
            stock_quantity: { type: [integer, "null"], format: int64, description: "What is left, in that same scale." }
            product_scale: { type: [string, "null"], description: "What one unit means — `unit`, `thousand` or `million`." }
            delivery_method: { type: [string, "null"], description: The key this listing hands over by. }
